<div class="bodyeditions" id="editions">
    <div class="container">
        <div class="row bodyabouttext text-white">
            <div class="col-3 col-md-2">
                <img src="assets/img/1era-edicion.png" class="img-thumbnail cstm-width-img float-start">
            </div>
            <div class="col align-self-start">
                <h3 class="py-1 editionstitle">REVISTA</h3>
                <h1 class="display-5 editionstitle"> <b>RUTAS VENEZUELA</b> </h1>
            </div>
        </div>
    </div>
    <div class="container editionscontent text-white">
        <div class="row">
            <div class="col-2 imgspace"></div>
            <div class="col">
                <h5 class="py-2">CONECTANDO EL TURISMO</h5>
                <div class="editionscontent-text" style="text-align: justify;">
                    RUTAS VENEZUELA es una revista digital online y física en alianza estratégica con la Asociación
                    Venezolana
                    de Viajes y Turismo AVAVIT. Somos un vocero para el desarrollo y fortalecimiento de la actividad
                    turística
                    nacional e internacional.
                </div>
                <div class="w-100 py-3"></div>
                <a class="btn btnlargo btn-subscribe link w-100"
                    href="https://turismomargarita.com/rutasDEMO/browser/#suscribir"><b>Suscríbete a nuestra
                        revista</b></a>
            </div>
            <div class="col-2 imgspace"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-12 text-white py-1" style="text-align-last: right;">
            <small>En alianza con</small>
            <img src="assets/img/avavit-logo.png">
        </div>
    </div>
</div>