<div class="bodyeditions">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-xs-12">
                <figure class="figure">
                    <img src="/assets/img/1era-edicion.png" class="figure-img img-fluid rounded nosotrosimg">
                </figure>
            </div>
            <div class="col-6 col-xs-12 bodyabouttext text-white align-self-start">
                <h2>REVISTA</h2>
                <div class="w-100"></div>
                <h1>RUTAS VENEZUELA</h1>
                <div class="w-100 py-2"></div>
                <h5>CONECTANDO EL TURISMO</h5>
                <div class="w-100 py-2"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet deleniti veniam nemo a architecto
                    eligendi
                    excepturi quas dolor sit, eius voluptate esse, minima quae ex. Quasi aut pariatur sapiente error.
                </p>
                <div class="w-100 py-2"></div>
                <div class="row justify-content-around">
                    <div class="col">
                        <button type="button" class="btn btn-subscribe"><b>Suscríbete a nuestra revista</b></button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-blanco"><b>Descubre otras ediciones</b></button>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xs-12 text-white align-self-end">
                <small>En alianza con</small>
                <img src="assets\img\avavit-logo.png">
            </div>
        </div>
    </div>
</div>