.bodyeditions{
    background-image: url('https://turismomargarita.com/rutasDEMO/browser/assets/img/background-ediciones.png');  
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
.btnlargo{
    padding-left: 20%;
    padding-right: 20%;
}
.btn-subscribe{
    background-color: #F4A219;
    color: white;
    border-radius: 20px;
}
.btn-subscribe:hover{
    background-color: #f8b33b !important;
    border-color: transparent;
    color: white;
}
.img-thumbnail{
    background: transparent;
    border: transparent;
    margin-right: 2%;
}
@media screen and (max-width: 780px) {
    .cstm-width-img {
    margin: auto;
    width: 24%;
    }
}
@media screen and (min-width: 780px) {
    .bodyeditions {
        padding-left: 7%;
    }
    .editionscontent {
        margin-left: 10rem;
        margin-right: auto;
    } 
    .editionscontent-text {
        width: 60%;
    }
}