<div class="bodyabout" id="aboutus">
    <div class="container-xl aboutbox">
        <div class="row">
            <div class="col-5">
                <figure class="figure">
                    <img src="assets/img/about-section.png" class="figure-img img-fluid rounded nosotrosimg py-4"
                        alt="Nosotros">
                </figure>
            </div>
            <div class="col bodyabouttext align-self-start w-100">
                <img src="assets/img/logo-about-section.png" class="navbar-brand" alt="RutasVenezuela"
                    style="position: relative; right: 5%; top: 0%;">
                <div class="w-100"></div>
                <h6>SOBRE NOSOTROS</h6>
                <div class="w-100"></div>
                <h1 style="color: #205b9c;">CONECTANDO AL TURISMO</h1>
                <div class="w-100" style="text-align: justify; !important"></div>
                <p>
                    En alianza estratégica con la Asociación Venezolana de Viajes y Turismo
                    AVAVIT. Somos una fuente de consulta dirigida al profesional del
                    turismo y al lector.
                    ¡Nuestro equipo editorial y operativo está
                    integrado por profesionales del turismo que son viajeros de corazón!
                </p>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-4 text-center"> <b>Tus hoteles favoritos</b> </div>
                    <div class="col-4 text-center"> <b>Los mejores planes</b> </div>
                    <div class="col-4 text-center"> <b>Destinos de ensueño</b> </div>
                </div>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-4 text-center"> <img src="assets/img/Hotelillustration.svg"> </div>
                    <div class="col-4 text-center"> <img src="assets/img/Plansillustration.svg"> </div>
                    <div class="col-4 text-center"> <img src="assets/img/Airplaneillustration.svg"> </div>
                </div>

            </div>


        </div>

    </div>
</div>
<div>

</div>