<div class="bodyabout">
    <!-- <div class="row col-3">
        <img src="assets\img\logo-about-section.png" class="navbar-brand" alt="RutasVenezuela"
            style="position: relative; right: 0%; top: 0%;">
    </div> -->
    <div class="container-xl">
        <div class="row">
            <div class="col-4">
                <figure class="figure">
                    <img src="assets/img/about-section.png" class="figure-img img-fluid rounded nosotrosimg" alt="Nosotros">
                </figure>
            </div>
            <div class="col bodyabouttext align-self-start w-100">
                <img src="assets\img\logo-about-section.png" class="navbar-brand" alt="RutasVenezuela">
                <div class="w-100"></div>
                <h6>SOBRE NOSOTROS</h6>
                <div class="w-100"></div>
                <h1>CONECTANDO AL TURISMO</h1>
                <div class="w-100"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, atque nam. Quam nesciunt esse culpa vel
                    accusantium aperiam corrupti deserunt ipsa asperiores saepe consequuntur atque aliquam, tempora sit
                    ducimus excepturi.</p>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-4"> <b>Tus hoteles favoritos</b> </div>
                    <div class="col-4"> <b>Los mejores planes</b> </div>
                    <div class="col-4"> <b>Destinos de ensueño</b> </div>
                </div>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-4"> <img src="assets\img\Hotelillustration.svg"> </div>
                    <div class="col-4"> <img src="assets\img\Plansillustration.svg"> </div>
                    <div class="col-4"> <img src="assets\img\Airplaneillustration.svg"> </div>
                </div>

            </div>


        </div>

    </div>
</div>
<div>

</div>