.appfooter{
    background-color: #205b9c;
    padding-bottom: 2%;
    padding-top: 3%;
}
.footer1{
    padding-left: 3%;
    padding-right: 3%;
}
.footer2{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.btn-blanco{
    background-color: white;
    color: #205b9c;
    border-radius: 20px;
    margin-top: 1%;
}
.footmenu{
    text-align: center;
    color: white;
    align-items: center;
    a:link {
        text-decoration: none;
        color: white;
        text-align: center;
      }
}
@media screen and (max-width: 780px) {
    .cstm-width-img-foot {
    width: 6%;
    }
    .cstm-width-img-foot2 {
        width: 75%;
    }
}