<div class="app-footer">

    <!-- 
      <div class="row">
      <form class="d-flex">
          <input class="form-control btn-blanco me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-blanco" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
          </button>
       </form>

    </div>
  </div> -->
    
    
    <div class="container w-100 footbtns">
      <div class="row justify-content-md-center" style="padding-top: 4%;">
      <ul class="nav nav-pills nav-justified"  style="gap: 15%;">
        <li class="nav-item">
          <a class="nav-link text-center btn-blanco" href="#"><b>Nosotros</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center btn-blanco" href="#"><b>Ediciones</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center btn-blanco" href="#"><b>Aliados</b></a>
        </li>
      </ul>
    </div>
    </div>

</div> 
