.footbackground{
    background-color: #205b9c;
    
}
#inputsearchfoot{
    max-width: 60%;
}
#footbtn{
   margin-left: 5%;
   margin-right: 5%;
}

.input-group-text {
    background: transparent;
    border: none;
}