<div class="appfooter" id="contacto">
    <div class="container-fluid footer1">
        <div class="row">
            <div class="col-sm">
                <img src="assets/img/Logo Footer.png">
            </div>
            <div class="col-md-6 text-white align-self-start py-2">
                <h6>Sobre Rutas Venezuela</h6>
                <div class="w-100 py-2"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquid culpa, beatae impedit eum
                    dolorem nisi officia consequuntur commodi a inventore soluta neque, fugiat libero mollitia. Sint ad
                    fugit maxime?</p>
            </div>
            <div class="col-sm footmenu">
                <div class="row">
                    <div class="col align-items-center py-2">
                        <h6>Secciones</h6>
                        <div class="w-100 py-1"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#aboutus" class="text-center text-white">Nosotros</a>
                        <div class="w-100"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#editions" class="text-center text-white">Ediciones</a>
                        <div class="w-100"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#aliados" class="text-center text-white">Aliados</a>
                    </div>
                    <div class="col align-items-center py-2">
                        <h6>Páginas</h6>
                        <div class="w-100 py-1"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#home" class="text-center text-white">Inicio</a>
                        <div class="w-100"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#news" class="text-center text-white">Rutas</a>
                        <div class="w-100"></div>
                        <a href="https://turismomargarita.com/rutasDEMO/browser/#news" class="link" class="text-center text-white">Planes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="container-fluid footer2" style="color: #F4A219;">
        <div class="row d-flex align-items-center py-2">
            <div class="col-12 col-md-4 text-center">
                <img src="assets/img/Email icon.svg" class="cstm-width-img-foot"> rutasvenezuela&#64;gmail.com
            </div>
            <div class="col-12 col-md-4 text-center">
                <img src="assets/img/Whatsapp Icon.svg" class="cstm-width-img-foot"> +58 000 000 0000
            </div>
            <div class="col-12 col-md-4 text-center py-2">
                <button type="button" class="btn">
                    <img src="assets/img/Facebook Icon.svg" class="cstm-width-img-foot2">
                </button>
                <button type="button" class="btn">
                    <img src="assets/img/Instagram Icon.svg" class="cstm-width-img-foot2">
                </button>
                <button type="button" class="btn">
                    <img src="assets/img/Twitter Icon.svg" class="cstm-width-img-foot2">
                </button>
            </div>
        </div>
    </div>
</div>