#navbar-brand{
    background-color: transparent;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    
}
.btn-blanco{
    background-color: white;
    color: #205b9c;
    border-radius: 20px;
}