<header>
  <div class="container" id="headerbox">
    <div id="navbar-brand">

      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img class="navbar-brand" src="assets/img/logo.png" />
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto !important;">
              <li class="nav-item w-100">
                <div class="row">
                  <div class="col-6 col-xs-12">
                    <a href="#contacto" class="nav-link text-white text-center"><small>Contáctanos</small></a>
                  </div>
                  <div class="col-6 col-xs-12">
                    <a href="#suscribir" class="nav-link text-white text-center">Ingresar</a>
                  </div>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <a class="btn btn-blanco link w-100" href="#suscribir"> <b>Regístrate</b> </a>
            </form>
          </div>
        </div>
      </nav>

    </div>
    <div class="container w-100">
      <div class="row justify-content-md-center">
        <nav class="d-flex justify-content-center py-3" style="gap: 3%;">
          <ul class="nav nav-pills">
            <li class="nav-item col-3"><a href="#home" class="nav-link text-white">Inicio</a></li>
            <li class="nav-item col-3"><a href="#news" class="nav-link text-white">Rutas</a></li>
            <li class="nav-item col-3"><a href="#news" class="nav-link text-white">Planes</a></li>
            <li class="nav-item col-3"><a href="#aboutus" class="nav-link text-white">Nosotros</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>