<header>      
  <div class="container" id="headerbox">
       <div class="row">
            <div class="col-6">
                <img class="Logo" src="assets/logo.png" width="137px" height="56px" title="Rutas de Venezuela">
            </div>
            <div class="col-2 text-center">
                <a href="" class="nav-link text-white" style="margin-top: 9%;">Contáctanos</a>
             </div>
             <div class="col-2 text-center">
                 <a href="" class="nav-link text-white" style="margin-top: 9%;"> Ingresar </a>
             </div>
             <div class="col-2 text-center">
                 <button type="button" class="btn btn-light" style="margin-top: 3%;">Regístrate</button> 
             </div>
        </div> 
  </div>
    <div class="container" bis_skin_checked="1" id="navbox">
      <nav class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
              <li class="nav-item"><a href="\pages\home" class="nav-link text-white">Inicio</a></li>
              <li class="nav-item"><a href="Enlace" class="nav-link text-white">Rutas</a></li>
              <li class="nav-item"><a href="Enlace" class="nav-link text-white">Planes</a></li>
              <li class="nav-item"><a href="Enlace" class="nav-link text-white">Nosotros</a></li>
          </ul>
      </nav>
    </div>
</header>

