<div class="container" id="aliados">

    <div class="contenedor">
        <div class="title">
            <h1>ALIADOS</h1>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum iste
                optio blanditiis eius vitae eligendi soluta voluptatibus, inventore veritatis.
                Laboriosam voluptate itaque iste dicta dignissimos sint cum reiciendis assumenda dolore!</p>
        </div>
    </div>
    
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="assets/img/1.png" />
            <p class="titulos">Donde Alirio</p>
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/img/2.png" />
            <p class="titulos">Isla Linda</p>
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/img/3.png" />
            <p class="titulos">Posada Palma Dorada</p>
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/img/4.png" />
            <p class="titulos">Hover Tours</p>
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/img/5.png" />
            <p class="titulos">Viajes Humboldt</p>
        </ng-template>
        <ng-template carouselSlide>
            <img src="assets/img/6.png" />
            <p class="titulos">Viajes Indigo</p>
        </ng-template>
    </owl-carousel-o>
</div>