p {
    margin: 0;
    padding: 0;
}

.container {
   
    .contenedor {
        margin-top: 81px;
        width: 100%;
        margin-bottom: 100px;
        padding: 5%;
    }

    .title {
        color: #205B9C;
    }

    .aliados {
        padding: 0%;
        margin: 0%;

        .card {
            width: 194px;
            height: 265px;
        }
    }

    .titulos {
        position: absolute;
        color: black;
        top: 200px;
        left: 10px;
        color: white;
    }
}




@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

