<div class="bodysubscribe">
    <div class="container-xl">
        <div class="row ">
            <div class="col-4">
                <figure class="figure">
                    <img src="assets/img/subscripcion-seccion.png" class="figure-img img-fluid rounded subsimg">
                </figure>
            </div>
            <div class="col-8 col-xs-12" style="padding-top: 4%;">
                <h1 style="color: #205b9c;">SUSCRÍBETE</h1>
                <div class="w-100"></div>
                <h2 style="color: #205b9c;">A NUESTRA REVISTA</h2>
                <div class="w-100 py-2"></div>
                <h4 style="color: #F4A219;">Y ENTÉRATE SIEMPRE DE LAS ÚLTIMAS NOTICIAS</h4>
                <div class="w-100 py-2"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae, quod tenetur sapiente aut quo dolore eos debitis omnis nam est praesentium magni odit! Eligendi officia aut laboriosam vel sint!</p>
                <div class="w-100">
                    <form>
                        <div class="mb-3">
                          <label class="form-label">Ingresa tu Correo Electrónico</label>
                          <input type="email" class="form-control">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Ingresa tu número telefónico</label>
                          <input type="tel" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-subscribe w-100">Suscribirme</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>