<div class="bodysubscribe" id="suscribir">
    <div class="container-xl subscribebox">
        <div class="row">
            <div class="col-4 subsimg">
                <figure class="figure py-5">
                    <img src="assets/img/subscripcion-seccion.png" class="figure-img img-fluid rounded subsimg">
                </figure>
            </div>
            <div class="col col-xs-12" style="padding-top: 4%;">
                <h1 style="color: #205b9c;">SUSCRÍBETE</h1>
                <div class="w-100"></div>
                <h2 style="color: #205b9c;">A NUESTRA REVISTA</h2>
                <div class="w-100 py-2"></div>
                <h4 style="color: #F4A219;">Y ENTÉRATE SIEMPRE DE LAS ÚLTIMAS NOTICIAS</h4>
                <div class="w-100 py-2"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae, quod tenetur sapiente aut
                    quo dolore eos debitis omnis nam est praesentium magni odit! Eligendi officia aut laboriosam vel
                    sint!</p>
                <div class="w-100">
                    <form>
                        <div class="mb-1">
                            <input type="text" class="form-control inputsubscribe" placeholder="Ingresa tu nombre">
                        </div>
                        <div class="mb-1">
                            <input type="number" class="form-control inputsubscribe" placeholder="Número de teléfono">
                        </div>
                        <div class="mb-2">
                            <input type="email" class="form-control inputsubscribe" placeholder="Correo Electrónico"
                                required>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-subscribe w-100"> <b>Suscribirme</b></button>
            </div>
        </div>
    </div>
</div>