p {
    margin: 0;
    padding: 0;
}

.container {



    .contenedor {
        margin-top: 81px;
        margin-left: 181px;
        margin-right: 149px;
        width: 100%;
        margin-bottom: 100px;
    }

    .title {
        color: #205B9C;
    }

    .aliados {
        padding: 0%;
        margin: 0%;

        .card {
            width: 100%; // Cambia esto a 100% para que las tarjetas se ajusten al tamaño del contenedor
        }
    }

    .boton {
        position: absolute;
        top: 99px;
        left: 16px;
        color: #205B9C;
        background-color: white;
        border: 1px solid white;
        border-radius: 13px;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo {
        position: absolute;
        top: 70px;
        left: 16px;
    }

    .expanded {
        width: 80%; // o cualquier otro valor que desees
    }

    .container {
        display: flex;
        justify-content: space-between;

        .card {
            border: none;
            width: 25%;

            .textAndButtom {
                position: absolute;
                top: 85px;
                width: 76%;
                color: white;
            }
        }
    }

    .container>div {
        flex: 1 0 auto;
        margin: 0 10px;
    }
}


p {
    margin: 0;
    padding: 0;
}


@media (max-width: 1200px) {
    .contenedor {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 992px) {
    .contenedor {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .contenedor {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container {
        .card {
            width: 100% !important;
        }

        .textAndButtom {
            top: 50px !important;
        }
    }
}

@media (max-width: 576px) {
    .contenedor {
        width: 100% !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}