<div class="body">
    <app-header></app-header>
    <div class="container-xl w-100 bodyhome">
        <div class="container justify-content-md-center text-white py-3">
            <div class="hometitle">
                <h1>TE DAMOS EL PARAÍSO</h1>
                <h2>Tú eliges el plan</h2>
            </div>
            <div class="container py-2">
                <h5>¡No te lo pierdas!</h5>
                <button type="button" class="btn btn-subscribe"><b>Suscríbete a nuestra revista</b></button>
            </div>
        </div>
        <!-- Barra de Búsqueda comentada por ahora
        <div class="container-xl w-100 homebtnsbar py-5">
            <div class="inputsearchfoot btn-blanco justify-content-center">
                <form class="d-flex" id="inputsearchfoot">
                    <div class="input-group">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            style="padding-right: 30px;">
                            <div class="input-group-append">
                            <span class="input-group-text" style="position: absolute; right: 20px; top: 5px;">
                                <i class="fas fa-search"></i>
                            </span>
                            </div>
                    </div>
                </form>
            </div>
        </div> -->

    </div>
</div>


<div class="footbtnsbar" style="width: 100%;">
    <div class="container-md foobtns justify-content-md-center">
        <ul class="nav nav-pills nav-justified" style="gap: 2%;">
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="#"><b>Nosotros</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="#"><b>Ediciones</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="#"><b>Aliados</b></a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="footbtnsbar">
    <div class="container-fluid">
        <div class="row align-items-center w-100">
            <div class="col-4 btn btn-blanco"> <a href="#">Nosotros</a> </div>
            <div class="col-4 btn btn-blanco"> <a href="#">Ediciones</a> </div>
            <div class="col-4 btn btn-blanco"> <a href="#">Aliados</a> </div>
        </div>
    </div>
</div> -->
<app-about></app-about>
<app-editions></app-editions>
<app-subscribe></app-subscribe>