<div class="body" id="home">
    <app-header></app-header>
    <div class="container w-100 bodyhome">
        <div class=" justify-content-md-center text-white py-3">
            <div class="hometitle">
                <h1 class="display-1">TE DAMOS EL PARAÍSO</h1>
                <h2 class="display-5">Tú eliges el plan</h2>
            </div>
            <div class=" py-3">
                <h5>¡No te lo pierdas!</h5>
                <a class="btn btnlargo btn-subscribe link" href="https://turismomargarita.com/rutasDEMO/browser/#suscribir"><b>Suscríbete a nuestra revista</b></a>
            </div>
        </div>
        <!-- Barra de Búsqueda comentada por ahora
        <div class="container-xl w-100 homebtnsbar py-5">
            <div class="inputsearchfoot btn-blanco justify-content-center">
                <form class="d-flex" id="inputsearchfoot">
                    <div class="input-group">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            style="padding-right: 30px;">
                            <div class="input-group-append">
                            <span class="input-group-text" style="position: absolute; right: 20px; top: 5px;">
                                <i class="fas fa-search"></i>
                            </span>
                            </div>
                    </div>
                </form>
            </div>
        </div> -->

    </div>
</div>


<div class="footbtnsbar" style="width: 100%;">
    <div class=" foobtns justify-content-md-center">
        <ul class="nav nav-pills nav-justified" style="gap: 2%;">
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="https://turismomargarita.com/rutasDEMO/browser/#aboutus"><b>Nosotros</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="https://turismomargarita.com/rutasDEMO/browser/#editions"><b>Ediciones</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btn-blanco" href="https://turismomargarita.com/rutasDEMO/browser/#aliados"><b>Aliados</b></a>
            </li>
        </ul>
    </div>
</div>

<app-about></app-about>
<app-editions></app-editions>
<app-aliados></app-aliados>
<app-noticias></app-noticias>
<app-subscribe></app-subscribe>
<app-footer></app-footer>