/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.btn-blanco{
    background-color: white;
    color: #205b9c;
    border-radius: 20px;
}
.btn-blanco:hover{
    background-color: rgba(247, 237, 237, 0.967) !important;
    color: #205b9c;
    border: transparent;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
