/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
.btn-blanco{
    background-color: white;
    color: #205b9c;
    border-radius: 20px;
}
.btn-subscribe{
    background-color: #F4A219;
    color: white;
    border-radius: 20px;
}
